doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  // Standard CSS
  link(rel='stylesheet' href='/cover.css' type='text/css')
  title Flowers
.cover-container.d-flex.h-100.p-3.mx-auto.flex-column
  header.masthead.mb-auto
    .inner
      h3.masthead-brand Flowers to Heaven
      nav.nav.nav-masthead.justify-content-center
        a.nav-link.active(href='index') Home
        a.nav-link(href='pricing') Pricing
        a.nav-link(href='#') Contact
  main.inner.cover(role='main')
    img(src='/flowerCover.jpg' alt='Flower-Cover' style='width:300px;height:300px;border-radius:50%;')
    h1.cover-heading Cover your page.
    p.lead
      | Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
    p.lead
      a.btn.btn-lg.btn-secondary(href='#') Learn more
  footer.mastfoot.mt-auto
    .inner
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
