doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  // Standard CSS
  link(rel='stylesheet' href='/pricing.css')
  link(rel='stylesheet' href='/cover.css')
  script(src='https://js.stripe.com/v3')
  title Flowers
.cover-container.d-flex.h-100.p-3.mx-auto.flex-column
  header.masthead.mb-auto
    .inner
      h3.masthead-brand Flowers to Heaven
      nav.nav.nav-masthead.justify-content-center
        a.nav-link(href='index') Home
        a.nav-link.active(href='pricing') Pricing
        a.nav-link(href='#') Contact
  main.inner.cover(role='main')
    .pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
      h1.display-4 Pricing
      p.lead
        | Quickly build an effective pricing table for your potential customers with this Bootstrap example. It&apos;s built with default Bootstrap components and utilities with little customization.
    .container
      .card-deck.mb-1.text-center
        .card.mb-4.box-shadow
          .card-header
            h4.my-0.font-weight-normal Enterprise
          .card-body
            h1.card-title.pricing-card-title
              | $29 
              small.text-muted / mo
            ul.list-unstyled.mt-3.mb-4
              li 30 users included
              li 15 GB of storage
              li Phone and email support
              li Help center access
            button#checkout-button.btn.btn-lg.btn-block.btn-primary(type='button') Purchase
      footer.pt-4.my-md-5.pt-md-5.border-top
  footer.mastfoot.mt-auto
    .inner
// Optional JavaScript
script(src='/payments.js')
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
